* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

li {
    list-style-type: none;
}

.dark_bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 998;
    display: none;
}

.menu_bar {
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    height: 88px;

}

.menu_bar ul {
    overflow: auto;
}

.menu_bar > ul {
    width: 80%;
    margin: auto;
}

.menu_bar li {
    width: 80px;
    height: 88px;
    float: left;
    border-bottom: 3px solid #fff; 
    margin-right: 40px;
    box-sizing: border-box;
}

.menu_bar ul .menu_link{
    display: block;
    padding-top: 35px;
    padding-bottom: 32px;
    cursor: pointer;

}

.menu_bar > ul > li:hover {
    border-bottom-color: rgb(245, 180, 95);
    transition: .15s;
}

.menu_bar ul a {
    cursor: pointer;
    transition: .15s;
}

.menu_bar ul a:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: .15s;
}

.menu_bar .submenu {
    position: fixed;
    top: 88px;
    margin: auto;
    left: 0;
    right: 0;
    width: 76%;
    box-sizing: border-box;
}

.menu_bar .submenu.s4 {
    background-color: #fff;
    padding: 24px 28px 30px 28px;
    box-shadow: inset 0px 111px 46px -123px rgba(0,0,0,0.4);
    display: none;
}

.menu_bar .submenu.s4 li {
    width: 107px;
    margin: 0;
    padding: 0;
    z-index: 3;
    text-align: center;
    box-sizing: unset;
    height: auto;
    font-size: 18px;
    text-align: left;
}

.menu_bar .submenu.s4 li:first-child {
    margin-right: 85px;
}

.menu_bar .submenu {
    z-index: 999;
}

.menu_bar .submenu.s2, .menu_bar .submenu.s4 {
    display: none;
    /* поменять обратно на нон */
}

.menu_bar .submenu.s2 > ul {
    display: flex;
    justify-content: space-between;
    padding: 24px 28px 0 28px;
    background-color: #fff;
    height: 300px;
    box-shadow: inset 0px 111px 46px -123px rgba(0,0,0,0.4);
}

.menu_bar .submenu.s2 li, .menu_bar .submenu.s2 ul ul {
    margin: 0;
    padding: 0;
    z-index: 3;
    text-align: center;
    box-sizing: unset;
    height: auto;
    width: 107px;
    font-size: 18px;
    text-align: left;
}

.menu_bar .submenu.s2 .subsubmenu.s2_2, .menu_bar .submenu.s2 .subsubmenu.s2_4 {
    width: 100%;
}

.menu_bar .submenu.s2 .subsubmenu.s2_2 li, .menu_bar .submenu.s2 .subsubmenu.s2_4 li {
    font-size: 14px;
    width: 95px;
}

.menu_bar ul .submenu li .subsubmenu{
    margin-top: 15px;
}

.menu_bar .submenu li .subsubmenu li{
    margin-bottom: 10px;
}

.menu_bar .hoverable.hov2:hover .submenu.s2 {
    display: block;
}

.menu_bar .hoverable.hov4:hover .submenu.s4 {
    display: block;
}

.content {
    padding-top: 120px;
    width: 80%;
    margin: auto;
}

.content p {
    margin-bottom: 30px;
}

.burger {
    position: absolute;
    top: 25px;
    right: 22px;
    width: 45px;
    height: 38px;
    /* border: 1px solid black; */
    display: none;
}

.burger img {
    display: block;
    margin: auto;
}

.menu_bar ul li .control_list .down {
    display: none;
}

@media screen and (max-width: 1017px) {
    .menu_bar * {
        /* border: 1px solid black; */
    }

    .menu_bar > ul {
        position: fixed;
        top: 89px;
        width: 100%;
        background-color: #fff;
        display: none;
        max-height: calc(100vh - 88px);
        overflow-y: auto;
    }

    .menu_bar ul .menu_link {
        padding: 18px 0 18px 25px;
    }

    .menu_bar .submenu.s2, .menu_bar .submenu.s4, .menu_bar .submenu .subsubmenu {
        display: none;
    }

    .menu_bar ul .submenu li .subsubmenu, .menu_bar ul .submenu li .subsubmenu li {
        margin: 0;
    }

    .menu_bar .submenu.s2 .subsubmenu.s2_2 li, .menu_bar .submenu.s2 .subsubmenu.s2_4 li {
        width: 100%;
        font-size: 16px;
    }

    .burger {
        display: block;
    }

    .menu_bar li {
        width: 100%;
        height: auto;
        padding: 0;
        border-bottom: none;
        cursor: unset;
        /* границу потом убрать */
    }

    .menu_bar {
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    .menu_bar .hoverable.hov2:hover .submenu.s2 {
        display: none;
    }
    
    .menu_bar .hoverable.hov4:hover .submenu.s4 {
        display: none;
    }

    .menu_bar .submenu.s2 > ul, .menu_bar .submenu.s4 > ul {
        display: block;
        height: auto;
        padding: 0;
    }

    .menu_bar .submenu.s2 > ul, .menu_bar .submenu.s4 {
        box-shadow: unset;
    }

    .menu_bar .submenu.s2, .menu_bar .submenu.s4 {
        margin: 0;
        padding: 0;
    }

    .menu_bar .submenu.s2 li, .menu_bar .submenu.s2 ul ul, .menu_bar .submenu.s4 li {
        width: 100%;
        font-size: 16px;
    }

    .menu_bar .submenu {
        width: 100%;
        position: static;
    }

    .menu_bar li a {
        display: block;
        padding: 18px 0 18px 25px;
        border-bottom: 1px solid rgb(240, 240, 240);
        /* width: calc(100% - 56px); */
    }

    .menu_bar ul .submenu li .subsubmenu li a {
        padding-left: 50px;
    }

    .menu_bar ul .hoverable .down {
        position: absolute;
        top: 6px;
        right: 0;
        padding: 6px 0 0 22px;
        width: 76px;
        height: 42px;
        /* background-color: rgba(0, 0, 0, 0.2); */
        border-left: 1px solid black;
        box-sizing: border-box;
    }

    .menu_bar ul .submenu li {
        background-color: rgb(247, 247, 247);
    }

    .menu_bar ul li .control_list .down {
        display: block;

    }

    .menu_bar ul li .control_list {
        width: 100%;
        position: relative;
    }
}
